.bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 0;
}

.items {
    margin-right: 30px;
    list-style: none;
}

.navbar {
    background-color: rgb(240, 166, 83);
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

